<header id="top-header">
    <span class="siteName">
      <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
      <!-- If user is logged in, show their username and logout button -->
      <% if (locals.user) { %>
        <li>Hello, <%= locals.user.account_firstname %></li> <!-- Display the logged-in user's username -->
        <li><a href="/account/logout">Logout</a></li> <!-- Link to logout -->
      <% } else { %>
        <!-- If not logged in, show login/signup links -->
        <li><a href="/account/login">Login</a></li>
        <li><a href="/account/register">Sign Up</a></li>
      <% } %>
    </div>
</header>


