<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | CSE 340 App</title>

    <!-- Global Styles -->
    <link rel="stylesheet" href="/css/styles.css" media="screen">
    <!-- Load login.css only for the login page -->
    <% if (title === "Login" || title === "Register" || title === "Add new classification" || title === "Add new inventory") { %>
        <link rel="stylesheet" href="/css/account.css" media="screen">
    <% } %>
    <script src="/js/script.js" defer ></script>
    
   
</head>